<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>userName</key>
			<string>欠我100W</string>
			<key>vip</key>
			<string>0</string>
			<key>userImage</key>
			<string>1.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>大傻逼</string>
			<key>vip</key>
			<string>1</string>
			<key>userImage</key>
			<string>2.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>菊花</string>
			<key>vip</key>
			<string>1</string>
			<key>userImage</key>
			<string>3.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>基友</string>
			<key>vip</key>
			<string>1</string>
			<key>userImage</key>
			<string>4.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>你望哥</string>
			<key>vip</key>
			<string>0</string>
			<key>userImage</key>
			<string>5.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>userName</key>
			<string>有点醉</string>
			<key>vip</key>
			<string>1</string>
			<key>userImage</key>
			<string>12.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>真的好么</string>
			<key>vip</key>
			<string>0</string>
			<key>userImage</key>
			<string>13.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>卡卡西</string>
			<key>vip</key>
			<string>1</string>
			<key>userImage</key>
			<string>14.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>iOS大神</string>
			<key>vip</key>
			<string>1</string>
			<key>userImage</key>
			<string>15.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>机器猫</string>
			<key>vip</key>
			<string>1</string>
			<key>userImage</key>
			<string>16.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>userName</key>
			<string>妹子么么哒</string>
			<key>vip</key>
			<string>0</string>
			<key>userImage</key>
			<string>17.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>前女友</string>
			<key>vip</key>
			<string>1</string>
			<key>userImage</key>
			<string>18.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>女生女神</string>
			<key>vip</key>
			<string>0</string>
			<key>userImage</key>
			<string>19.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>爱丽丝</string>
			<key>vip</key>
			<string>1</string>
			<key>userImage</key>
			<string>20.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>然而并没有什么卵用</string>
			<key>vip</key>
			<string>0</string>
			<key>userImage</key>
			<string>21.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>userName</key>
			<string>百事通</string>
			<key>vip</key>
			<string>1</string>
			<key>userImage</key>
			<string>22.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>高铁火车侠</string>
			<key>vip</key>
			<string>1</string>
			<key>userImage</key>
			<string>23.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>无所谓</string>
			<key>vip</key>
			<string>0</string>
			<key>userImage</key>
			<string>24.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>12生肖</string>
			<key>vip</key>
			<string>0</string>
			<key>userImage</key>
			<string>25.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>能吃是福</string>
			<key>vip</key>
			<string>0</string>
			<key>userImage</key>
			<string>26.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>不好不好的</string>
			<key>vip</key>
			<string>1</string>
			<key>userImage</key>
			<string>27.jpg</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>终于写完名字了</string>
			<key>vip</key>
			<string>1</string>
			<key>userImage</key>
			<string>28.jpg</string>
		</dict>
	</array>
</array>
</plist>
